# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Temp files
*~
~*

# Xcode
xcuserdata/
project.xcworkspace
bin-debug/
xcode-build/

# JetBrains
.idea/workspace.xml
.idea/tasks.xml
.idea/
*.iml
